@model IEnumerable<HealthConsulting.Models.Doctor>
@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctors</h2>
<p>
    @Html.ActionLink("New Doctor Add", "New", "Doctors", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>We don't have any Doctors yet.</p>
}
else
{
    <table id="doctors" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>About Doctor</th>
                <th>Specialist Area</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                var FullName = doctor.FirstName + " " + doctor.LastName;
                <tr>
                    <td>@Html.ActionLink(FullName, "Edit", "Doctors", new { id = doctor.Id }, null)</td>
                    <td>@doctor.AboutHim</td>
                    <td>@doctor.SpecialListAreas.Name</td>
                    <td><button data-doctor-id="@doctor.Id" class="btn btn-warning btn-delete">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts{
    <script>
        $(document).ready(function () {
            $("#doctors").DataTable();
            $("#doctors").on("click",".btn-delete", function () {

                var thisbutton = $(this);

                bootbox.confirm("Are you sure you want to delete this doctor", function (results) {
                    if (results) {
                        $.ajax({
                        url: "/api/doctors/" + thisbutton.attr("data-doctor-id"),
                        method: "DELETE",
                        success: function () {
                            thisbutton.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script> 
    
 }

